.webcam_ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera_button{
    padding: 10px;
    margin: 10px 20px;
 }

 video{
     padding: 30px;
 }