.finish-screen-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.finish-screen-container-header {
  height: 250px;
  width: 100%;
  background-color: gainsboro;
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.user-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 20px;
}

.compare_title {
  font-size: 18px;
  color: orange;
}
.compare_title_false {
  font-size: 18px;
  color: red;
}
.compare_title_true {
  font-size: 18px;
  color: green;
}

.finish-screen-container-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  overflow-y: scroll;
}

.column{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_card{
  margin: 20px;
  width: 60%;
}

.list-item{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.finish-screen-btn-container{
  background-color: gainsboro;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  border: 1px solid gray;
}
.finish-screen-btn{
  border: 1px solid gray;
  outline: none;
  padding: 5px 30px;
  border-radius: 8px;
  background-color: cadetblue;
}
